Выводить по {$num_goods} шт
<div class="numGoodsMenu">
	<a href="#0" onclick="load_product(0, {$num_goods_1})" >
		Выводить по {$num_goods_1} шт
	</a>
	<a href="#0" onclick="load_product(0, {$num_goods_2})" >
		Выводить по {$num_goods_2} шт
	</a>
</div>