@cool_black: #282828;
@font_color: #5e5e5e;

body, html {
    padding: 0;
    margin: 0;
    color: @font_color;
    font-family: sans-serif;
    height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
header {
	flex: 0 0 auto;
    width: 100%;
    background: @cool_black;
}
#content {
    flex: 1 0 auto;
    width: 100%;
}
footer {
    margin-top: 50px;
    flex: 0 0 auto;
    width: 100%;
    font-size: 0.8em;
    background: @cool_black;
}