@font_color: #5e5e5e;
@yellow: #e6e09a;
.profileLink {
    margin: 50px 0;
}
.profileLink h1 {
    display: flex;
    justify-content: space-between;
}
.profileLink span{
    color: black;
}
.profileLink a{
    text-decoration: none;
    color: @font_color;
}
.profileLink a:hover {
    color: black;
}
.profileData div {
    padding: 5px 0;
    font-size: 1.1em;
}
.profileData div:first-child {
    padding: 5px 0;
    font-size: 1.4em;
}
.profileData a {
    text-decoration: none;
    color: darken(@font_color, 20%);
    font-size: 10px;
}
.profileData a:hover {
    color: black;
}
.editProfile {
    font-size: 1.3em;
    color: darken(@font_color, 20%);
    padding-bottom: 20px;
}
.checkbox {
    font-size: .8em;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.favFlex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 5px;
    cursor: default;
    border: 1px solid lighten(@yellow, 15%);
}
.favImg {
    width: 100px;
}
.favImg img {
    height: 150px;
}
.favDesc {
    flex-basis: 400px;
}
.favDesc div {
    padding-bottom: 8px;
}
.favDesc div:nth-child(2) {
    font-size: .8em;
}
.baskFlex {
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lighten(@yellow, 15%);
    margin-bottom: 10px;
    padding-right: 15px;
}
.baskName {
    flex-grow: 1;
}
.baskName a {
    text-decoration: none;
    color: @font_color;
}
.baskName a:hover {
    color: black;
}
.baskImg {
    width: 100px;
}
.baskImg img {
    width: 80px;
}
.baskPrice {
    text-align: right;
}
.baskQt {
    padding: 0 20px 0 50px;
    margin-bottom: 5px;
}
.baskSum {
    flex-basis: 9%;
    text-align: right;
}
.calc {
    font-size: 1.3em;
    cursor: pointer;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
#basketEnd {
    text-align: right;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#bT {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.baskDel {
    margin-left: 20px;
    cursor: pointer;
}
.chname {
    padding-left: 10px;
    flex-grow: 3;
}
.chqt {
    width: 90px;
    text-align: right;
    padding: 10px;
}
.delAddress {
    padding-bottom: 10px;
    font-size: .65em;
}
.orderItem {
    border: 1px solid lighten(@yellow, 10%);
    padding: 15px;
    font-size: 1.1em;
    margin-bottom: 10px;
}
.orderItem .headFlex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.productItem {
    margin-top: 5px;
    padding: 10px;
    font-size: .9em;
    border: 1px solid lighten(@yellow, 15%);
    display: flex;
    justify-content: space-between;
}
.productItem .grow {
    flex-grow: 1;
}
.productItem .price {
    flex-basis: 400px;
    display: flex;
    justify-content: space-between;
}