@cool_black: #282828;
@yellow: #e6e09a;
@font_color: #5e5e5e;
//header top
#headerTop {
	width: 1000px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	color: lighten(@yellow, 20%);
	font-size: 0.8em;
	display: flex;
}
#tel {
	margin-right: 20px;
}
#tel:hover,
#email:hover {
    cursor: default;
    color: @yellow;
}
#lk {
	flex-grow: 1;
	text-align: right;
}
#lk a {
    color:  lighten(@yellow, 20%);;
    margin-left: 20px;
}
#lk a:hover {
	color: @yellow;
}
//end header top
#headerMain {
    background: lighten(@yellow, 20%);
}
//header center
#headerCenter {
	height: 120px;
	width: 1000px;
    margin: 0 auto;
    display: flex;
}
#logoCompany {
	width: 240px;
    height: 120px;
	background: url('../images/logo.png') no-repeat;
	background-size: cover;
}
#logoCompany a {
	display: block;
    height: 100%;
}
#search {
	flex-grow: 1;
}
#basketIcon,
#favoritesIcon {
	width: 35px;
    height: 35px;
    margin: 60px 0 25px 35px;
	background: url('../images/basket.png') no-repeat;
    background-size: cover;
    opacity: 0.5;
}
#favoritesIcon {
	width: 35px;
    height: 35px;
    margin: 60px 0 25px 35px;
	background: url('../images/fav.png') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

#basketIcon a,
#favoritesIcon a {
	display: block;
	height: 100%;
}
#basketIcon:hover,
#favoritesIcon:hover {
	opacity: 1;
}
//end header center
//header menu
#menu {
	width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#menu a {
	text-align: center;
    display: block;
    font-family: sans-serif;
    height: 30px;
    line-height: 30px;
}
//end header menu