@cool_black: #282828;
@yellow: #e6e09a;
#footerMain {
    color: @yellow;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footerMain a{
    color: @yellow;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
}
#footerMain a:hover{
    color: lighten(@yellow, 20%);
}
#footContacts {
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contactWrap {
    padding-bottom: 10px;
}
.contactWrap:hover {
    cursor: default;
    color: lighten(@yellow, 20%);
}
.contactIcon {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#footNavigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#footCategories {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#footerCopyright {
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: white;
}