@font_color: #5e5e5e;
@yellow: #e6e09a;
a {
    text-decoration: none;
    color: @font_color;
}
a:hover {
    color: black
}
#contentInside {
    width: 1000px;
    margin:0 auto;
}
.breadCrumbs {
    padding: 10px;
}
.breadCrumbs a{
    text-decoration: none;
    color: @font_color;
}
.breadCrumbs a:hover{
    color: black;
}
.promo {
    width: 100%;
    height: 400px;
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
//button
.buttonLink {
    width: 274px;
    margin-bottom: 5px;
    padding: 5px 15px;
    background-color: lighten(@yellow, 20%);
    display: block;
    text-align: center;
    color: @font_color;
    text-decoration: none;
}
.buttonLink:hover {
    background-color: lighten(@yellow, 15%);
    color: black;
}

.button {
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    width: 304px;
    margin-bottom: 5px;
    padding: 5px 15px;
    background-color: lighten(@yellow, 20%);
    color: @font_color;
    font-size: 1em;
}
.button:hover {
    background-color: lighten(@yellow, 15%);
    color: black;
}
.formFlex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}
.formFlexItem {
    padding-right: 50px;
}
.formFlexItem input{
    margin-bottom: 10px;
}
.formErrors {
    color: red;
}
form [required] {
  box-sizing: border-box;
  margin: 5px 0;
  padding: 4px;
  border: 1px solid lighten(@yellow, 10%);
  border-radius: 2px;
}
form [required]:hover {
  border-color: @yellow;
}
form [required]:focus {
  outline: none;
  border-color: @yellow;
  box-shadow: -2px 2px 2px -2px @yellow;
}