@font_color: #5e5e5e;
@yellow: #e6e09a;
#categoryFlex{
    display: flex;
    flex-wrap: wrap;
}
.categoryTop {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    background-color: lighten(@yellow, 20%);
    font-size: .9em;
}
#categoryBottom {
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    background-color: lighten(@yellow, 20%);
}
#categoryBottom a {
    padding: 5px;
}
#numGoods {
    padding: 0 12px;
    position: relative;
}
#numGoods:hover {
    background-color: lighten(@yellow, 10%);
}
.numGoodsMenu {
    position: absolute;
    display: none;
    left: 0;
    padding-left: 12px;
}
.numGoodsMenu:hover {
    background-color: lighten(@yellow, 15%);   
}
#numGoods:hover .numGoodsMenu{
    display: block;
    background-color: lighten(@yellow, 20%);
}
.shortCard {
    margin-bottom: 10px;
    border: 1px solid lighten(@yellow, 20%);
    width: 304px;
    padding: 10px;
    border-radius: 2px;
    text-align: center;
}
.shortCard:nth-child(3n+2) {
    margin-left: 11px;
    margin-right: 11px;
}
.shortCardImg {
    height: 280px;
    overflow: hidden;
}
.shortCardName {
    height: 52px;
    font-size: 1.4em;
    padding-bottom: 5px;
}
.shortCardDesc {
    height: 100px;
    font-size: 0.9em;
    text-align: justify;
}
.shortCardPrice {
	text-align: right;
	font-size: 1.1em;
	padding-bottom: 10px;
}
.product {
    display: flex;
}
.productImg {
    margin-right: 30px;
}
.productImg img {
	width: 250px;
}
#productName {
    padding-bottom: 10px;
    font-size: 1.5em;
}
#productPrice {
    text-align: right;
    padding: 10px;
    font-size: 1.5em;   
}